body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

.header-main {
    width: 100%;
    background-image: url(images/header-bg.jpg);
    height: auto;
    min-height: 600px;
    position: relative;
    padding-bottom: 7em;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
}

.header-main-menu-bg {
    width: 100%;
    background-image: url(images/header-bg.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.header-layer {
    background-color: rgba(122, 77, 191, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-container {
    border-bottom: 1px solid #fff;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none;
}

.centered-block {
    width: 100%;
    max-width: 1173px;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
}

.logotype-styles {
    padding: 0;
    object-fit: contain;
    margin: 0 !important;
    height: 105px;
}

.menu-list li:hover {
    background-color: transparent;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #7a4dbf;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.menu-list li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.menu-list li a:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #7a4dbf;
}

.menu-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-block {
    background-image: url('images/header-plashka.png');
    width: 254px;
    height: 124px;
    margin: 30px auto 0;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.date-block p {
    margin-bottom: 0;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 300;
}

.info-header-block {
    text-align: center;
    color: #fff;
    margin-top: 130px;
}

.info-header-block2 {
    text-align: center;
    color: #fff;
    margin-top: 150px;
}

.info-header-block h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 60px;
}

.info-header-block h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
}

.info-header-block2 h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 5px;
}

.info-header-block2 h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 7px;
}

.attachment-block {
    width: 100%;
    max-width: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attachment-block img {
    margin-right: 10px;
    width: max-content;
    vertical-align: middle;
    height: max-content;
}

.attachment-content h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #374045;
    letter-spacing: 2px;
    font-weight: 500;
}

.attachment-content p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    color: #374045;
}

.attachment-content {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    max-width: 180px;
}

.attachment-container {
    padding: 30px;
    box-shadow: 0 0 3px #dadada;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -5em;
}

.title-container-h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 7px;
    color: #374045;
    margin-top: 75px;
}

.schedule-container {
    text-align: center;
    margin-top: 67px;
    padding: 10px 10px 50px;
}

.tabs li {
    float: left;
    width: 100%;
    height: 60px;
    max-width: 320px;
    list-style-type: none;
}

.tabs li:nth-of-type(1) a {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.tabs li:nth-of-type(3) a {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 0;
    border: 1px solid #7a4dbf;
    background: #fff;
    font-weight: 300;
    letter-spacing: 3px;
    color: #374045;
    margin-left: -1px;
    transition: all .2s;
}

.tabs a:hover,
.tabs a.active {
    background: #7a4dbf;
    color: #fff;
}

.tabgroup div {
    padding: 0;
    text-align: left;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul.tabs.clearfix {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
}

.centered-block-960 {
    width: 100%;
    max-width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.tabs-info-style h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0;
    letter-spacing: 3px;
}

.schedule-info {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    margin-top: 60px;
    align-items: center;
}

.schedule-info img {
    object-fit: contain;
    flex-grow: 1;
    height: 8px;
    width: 100%;
    margin: 0 50px;
    max-width: 427px;
}

.schedule-info p {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 1;
    flex-basis: 335px;
}

.schedule-info p > strong {
    font-weight: 500;
}

.tabs-info-style {
    margin-top: 80px;
}

.event-style-end {
    flex-basis: 610px !important;
}

.more-info-btn {
    margin: 75px auto 0;
    position: relative;
    width: 100%;
    max-width: 260px;
    cursor: pointer;
    height: 60px;
    color: #374045;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid #7a46be;
    display: flex;
    font-size: 18px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.more-info-btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #7a46be;
}

.footer-container {
    background-color: #21192e;
    color: #fff;
    text-align: center;
    display: flex;
    height: auto;
    align-items: center;
    min-height: 90px;
}

.copyright-style {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 200;
}

.how-it-works-container {
    background-color: #7a4dbf;
    padding: 80px 10px 135px;
}


.title-container-h1-white {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 7px;
    color: #fff;
    margin-top: 54px;
}

.how-it-works-child-block {
    background-color: #fff;
    width: 100%;
    max-width: 315px;
    padding: 70px 25px 90px;
    margin-right: 1px;
    margin-top: 1px;
}

.how-it-works-child-block h3 {
    margin-top: 35px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.how-it-works-child-block p {
    font-weight: 300;
    letter-spacing: 1px;
}

.how-it-works-icon {

}

.how-it-works-block-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.how-it-works-child-block > div {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}



.content-link-style {
    color: #7a4dbf;
    text-decoration: underline;
}

.register-text-input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 5px 18px;
    min-width: 170px;
    outline: none;
}

.submit-here-styles {
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    font-weight: 400 !important;
    font-size: 17px;
}


/*about page styles*/

.header-main-menu-bg .menu-container {
    border-bottom: 0;
}

.why-contest-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
}

.why-contest-list li {
    width: 100%;
    line-height: 36px;
    background: url(images/list-dot.png) no-repeat left 25px;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 40px;
    max-width: 500px;
    color: #374045;
    list-style-type: none;
    font-weight: 400;
    text-transform: uppercase;
}

.why-contest-list li span {
    color: #7a46be;
}



.about-info-container {
    margin-top: 80px;
    padding: 0 15px;
}

.font-style-styles {
     font-weight: 600;
     letter-spacing: 4px;
    color: #374045;
     margin-top: 47px;
}

.why-contest-list-block {
    margin-top: 85px;
    margin-bottom: 100px;
}

.divider-style {
    border-top: 1px solid #ccc;
}

.hosted-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 85px;
    flex-wrap: wrap;
}

.hosted-left-block, .hosted-right-block {
    width: 100%;
    max-width: 530px;
}

.hosted-left-block div, .hosted-right-block div {
    min-height: 175px;
    display: flex;
    align-items: center;
}

.hosted-left-block div > img, .hosted-right-block div > img {
    width: 100%;
}

.hosted-left-block p, .hosted-right-block p {
    margin-top: 150px;
    font-size: 18px;
    font-weight: 400;
    color: #374045;
    text-transform: uppercase;
    line-height: 36px;
}

.mt-65px {
    margin-top: 65px;
}

@media only screen  and (max-width: 1135px) {
    .hosted-left-block, .hosted-right-block {
        max-width: none;
    }

    .hosted-left-block div > img, .hosted-right-block div > img {
        width: 100%;
        max-width: 490px;
    }

    .hosted-left-block div, .hosted-right-block div {
        min-height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hosted-left-block p, .hosted-right-block p{
        margin-top: 40px;
    }

 .hosted-right-block {
     margin-top: 70px;
 }


}

@media only screen  and (max-width: 1029px) {
    .why-contest-list li {
        max-width: none;
    }

    .why-contest-list-block {
        margin-top: 40px;
    }

    .why-contest-list-block {
        margin-bottom: 50px;
    }


}

/*about page styles*/


/*STAGES*/
.header-main-other{
    padding-bottom: 0;
    min-height: 0;
}
.schedule-container-other{
    margin-top: 0;
}
.schedule-container-other .title-container-h1{
    margin-top: 50px;
}
.sub-title-p{
    font: 24px/30px 'Roboto', sans-serif;
    font-weight: 300;
    color: #374045;
    text-align: left;
    margin-top: 70px;
    opacity: 0.9;
}
.stage_works{
    margin-top: 70px;
}
.stage_work_kard_cont{
    background: url(images/cofe.jpg);
    background-position: left;
    background-size: cover;
    width: 30%;
    height: 690px;
    display: inline-block;
    border-radius: 4px;
    float: left;
}
.stage_work_kard_cont:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
    background-position: center;
}
.stage_work_kard_cont:last-child{
    background-position: right;
}
.stage_work_kard{
    background-color: rgba(122, 77, 191, 0.7);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 40px 28px 24px;
}
.title_stage_work_kard{
    font: 24px/24px 'Roboto', sans-serif;
    display: inline-block;
    color: #7a4dbf;
    background-color: #fff;
    padding: 14px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.stage_work_kard > p{
    font: 18px/24px 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: left;
    margin-top: 20px;
}
.stage_work_kard>p:first-child{
    margin-top: 0;
}

.stage-ul-list ul li {
    font-size: 18px;
    color: #fff;
    font-weight:300;
    list-style-type: none;
    background: url('images/stage-list-icon.png');
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left 8px;
}

.stage-ul-list ul {
    padding-left: 0;
    text-align: left;
    margin-top: 20px;
}

/*END STAGES*/


/*START BLOG*/

.blog-item {
    width: 100%;
    margin: 5px;
    max-width: 380px;
    border: 1px solid #ccc;
}

.blog-item img {
    width: 100%
}

.blog-info h1 {
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #374045;
}

.blog-info p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
}

.blog-info {
    padding: 25px;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
    justify-content: center;
}
/*END BLOG*/





@media only screen  and (max-width: 1169px) {
/*START BLOG*/

    .blog-item {
        width: 30%;
        max-width: none;
    }

/*END BLOG*/
}

@media only screen  and (max-width: 998px) {
    .attachment-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .attachment-block {
        margin: 25px 0;
    }

    .centered-block-960 {
        padding: 10px;
    }

    /*STAGES*/
    .stage_work_kard_cont{
        width: 48%;
        height: 600px;
        margin-bottom: 50px;
    }
    .stage_work_kard_cont:nth-child(2){
        margin-left: 4%;
        margin-right: 0;
    }
    .stage_work_kard_cont:last-child{
        margin-bottom: 0;
    }

    /*END STAGES*/
}

@media only screen  and (max-width: 930px) {
    .navbar-toggle {
        position: relative;
        float: right;
        top: 18px;
        right: 0;
        padding: 9px 10px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid #fff;
        border-radius: 0;
        cursor: pointer;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .logotype-styles img {
        height: 70px;
        object-fit: contain;
    }

    .logotype-styles {
        height: auto;
    }
}

@media only screen  and (max-width: 884px) {
    .attachment-block {
        margin: 25px 20px;
    }

    .attachment-container {
        justify-content: center;
    }

    .schedule-info img {
        margin: 0 15px;
        max-width: 170px;
    }
}

@media only screen  and (max-width: 767px) {
   /*START BLOG*/

    .blog-item {
        width: 100%;
        max-width: 380px;
    }

    /*END BLOG*/


    .navbar-header {
        width: 100%;
    }

    .menu-list-container {
        display: block;
    }

    .schedule-info p {
        font-size: 14px;
        letter-spacing: 0;
        flex-basis: 335px;
    }

    /*STAGES*/
    .stage_work_kard_cont{
        width: 80%;
        height: auto;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .stage_work_kard_cont:nth-child(2){
        margin-left: auto;
        margin-right: auto;
    }
    .schedule-container-other .title-container-h1{
        margin-top: 30px;
    }

    /*END STAGES*/
}

@media only screen  and (max-width: 480px) {
    .schedule-info img {
        margin: 0 15px;
        max-width: 30px;
        object-fit: cover;
    }

    .schedule-info p {
        font-size: 12px;
    }

    .tabs a {
        font-size: 13px;
        padding: 15px 0;
    }

    .logotype-styles img {
        height: 50px;
    }

    .navbar-toggle {
        top: 8px;
    }

    .info-header-block h4 {
        font-size: 16px;
        line-height: 30px;
    }

    .info-header-block h1 {
        font-size: 30px;
        margin-top: 20px;
    }

    .info-header-block2, .info-header-block {
        margin-top: 60px
    }

    .info-header-block2 h2 {
        font-size: 25px;
    }

    .info-header-block2 h3 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 100;
        line-height: 30px;
        letter-spacing: 5px;
    }

    .attachment-block {
        margin: 20px 0;
    }

    .schedule-container {
        margin-top: 40px;
    }

    .title-container-h1 {
        margin-top: 45px;
    }

    .tabs-info-style {
        margin-top: 50px;
    }

    .more-info-btn {
        margin: 50px auto 0;
    }

    /*STAGES*/
    .stage_work_kard_cont{
        width: 100%;
    }
    .schedule-container-other{
        padding-bottom: 0;
    }
    .schedule-container-other,
    .schedule-container-other .title-container-h1{
        margin-top: 0;
    }
    /*END STAGES*/
}